-
    var DES = [
        "keyboard", 
        "shoes", 
        "cat", 
        "plastic", 
        "oil", 
        "notepad", 
        "pants", 
        "notepadPen", 
        "bkettle", 
        "plant", 
        "varnish", 
        "brush"
    ];

    var pathI = "../images/card/JPG/";
    var format = ".jpg";
   
    var IMG_PATH = {
        "keyboard":pathI + "00" + format, 
        "shoes":pathI + "01" + format, 
        "cat":pathI + "02" + format, 
        "plastic":pathI + "03" + format,  
        "oil":pathI + "04" + format,  
        "notepad":pathI + "05" + format,  
        "pants":pathI + "06" + format,  
        "notepadPen":pathI + "07" + format, 
        "bkettle":pathI + "08" + format, 
        "plant":pathI + "09" + format, 
        "varnish":pathI + "10" + format, 
        "brush":pathI + "11" + format 
    };

    var listNum = [
        49.50,
        13.95,
        128.99,
        12.48,
        135.80,
        9.50,
        13.25,
        50.28,
        126.54,
        11.68,
        1.25,
        23.25
    ];
    var STAR_PARH = {
        "star":"../images/card/SVG/star.svg",
        "halfway":"../images/card/SVG/star-t.svg"
    };
    