-
    var pathImage = {
        "card":["../images/card/JPG/", "../images/card/SVG/"],
        "header":["../images/header/SVG/"],
        "nav-carousel":["../images/nav-carousel/SVG/"]
    };

    var format = [".jpg", ".svg"];
    var namePreviewImage = ["00","01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11"];

    var DES = [
        "keyboard", 
        "shoes", 
        "cat", 
        "plastic", 
        "oil", 
        "notepad", 
        "pants", 
        "notepadPen", 
        "bkettle", 
        "plant", 
        "varnish", 
        "brush"
    ];

    var listNum = [
        49.50,
        13.95,
        128.99,
        12.48,
        135.80,
        9.50,
        13.25,
        50.28,
        126.54,
        11.68,
        1.25,
        23.25
    ];

    var IMG_PATH = {
        "keyboard":pathImage.card[0] + namePreviewImage[0] + format[0], 
        "shoes":pathImage.card[0] + namePreviewImage[1] + format[0], 
        "cat":pathImage.card[0] + namePreviewImage[2] + format[0], 
        "plastic":pathImage.card[0] + namePreviewImage[3] + format[0],  
        "oil":pathImage.card[0] + namePreviewImage[4] + format[0],  
        "notepad":pathImage.card[0] + namePreviewImage[5] + format[0],  
        "pants":pathImage.card[0] + namePreviewImage[6] + format[0],  
        "notepadPen":pathImage.card[0] + namePreviewImage[7] + format[0], 
        "bkettle":pathImage.card[0] + namePreviewImage[8] + format[0], 
        "plant":pathImage.card[0] + namePreviewImage[9] + format[0], 
        "varnish":pathImage.card[0] + namePreviewImage[10] + format[0], 
        "brush":pathImage.card[0] + namePreviewImage[11] + format[0] 
    };

    var STAR_PARH = {
        "star": pathImage.card[1] + "star" + format[1],
        "halfway": pathImage.card[1] + "star-t" + format[1],
    };
    