.content {
    margin-top: 56px;
    padding-left: 20px;
}
.ac-ba {
    display: flex;
    gap: 16px;
}
.ac-ba-item {
    @include responsive-font(14, 12);
    border: 1px solid #B4B4BB;
    border-radius: 4px;
    option {
        @include responsive-font(14, 12);
    }
}

.filter-view-grid {
    display: flex;
    align-items: center;
}

.construction-bar {
    padding: 3px;
}

.accordion-bar,
.accordion-bar-item {
    margin: 0;
    width: 110%;
}

.content-header {
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.filter-view-category {
    display: flex;
    justify-content: center;
}

.filter-view-category__btn,
.filter-view-grid__btn {
    padding: 0px 13px;
    font-weight: 500;
    @include responsive-font(14, 12);
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.018em;
    color: #5A5B6A;
    border: none;
    cursor: pointer;
}

/* Shadow Blue */
.filter-view-category__btn:focus, 
.filter-view-grid__btn:focus {
    outline: none;
    border-radius: 4px;
    letter-spacing: 0.018em;
    color: #2264D1;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 
            0px 4px 8px rgba(41, 121, 255, 0.2);
}


/* nav-tags */

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 3px;
    margin: 0;
    margin-top: 28px;
   
    .tags__link {
        padding: 8px 12px;
        @include responsive-font(14, 12);
        line-height: 143%;
        letter-spacing: 0.018em;
        color: #4A4B57;
        background-color: #EDEDF0;
        border-radius: 99px;
        transition: all .3s;
    }
    .tags__link:hover {
        background-color: #fff;
        color: #19191D;
    }
}

.cards {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
    .card-margin {
        margin: 16px;
    }
}


@media screen and (max-width: 1485px) {
    .content-header {
        width: 70vw;
    }
}

@media screen and (max-width: 1400px) {
    .filter-view-category__btn {
        padding: 0 13px;
    }
    .menu-nav__link, 
    .menu-login__link, 
    .menu-nav-search__input::placeholder {
        @include responsive-font(16, 12);
    }
}
@media screen and (max-width: 1180px) {
    .content-header {
        margin: 0 auto;
        width: 50vw;
    }
    .content-header {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .tags {
        justify-content: center;
    }
    .filter-view-wrap {
        display: flex;
        justify-content: space-between;
        justify-content: flex-start;
    }
    .ac-ba {
        height: 30px;
    }
    .tags-item {
        margin-top: 15px;
    }
}


@media screen and (max-width: 990px) {
    .content-header {
        width: 98vw;
        margin: 0 auto;
    }
    .cards {
        margin-top: 50px;
        gap: 15px;
    }
}

@media screen and (max-width: 500px) {
    .cards {
        .card-margin {
            margin: 10px;
        }
    }
    .ac-ba {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .filter-view-wrap {
        justify-content: center;
    }
    .filter-view-grid {
        display: none;
    }
    .filter-view-category__btn {
        padding: 8px 13px;
    }
}
