*, 
*::before, 
*::after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* To eurn off search trigger off */
input[type='search']::-webkit-search-decoration, 
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-results-button, 
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.page__body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: $font-inter;
}

.container {
  width: 100%;
  padding: 0 11vw;
}