.menu-category {
    padding-top: 16px;
}
.menu-category-ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.menu-category__item {
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: $color-grey;
    transition: all .2s;
}
.menu-category__item:hover {
    transform: scale(1.1);
}
.menu-category-li {
    text-align: center;
}

.menu-category__description {
    @include responsive-font(14, 9);
    line-height: 143%;
    letter-spacing: 0.018em;
}
.menu-category__img {
    width: 20px;
    margin-bottom: 6px;
}

/* Arrows for slick */
.menu-category-ul {
    position: relative;
}
.slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 10;
    font-size: 0;
    background: url(../images/nav-carousel/SVG/chevron-up.svg) 0 0 / 100% no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: all .3s;
}
.slick-prev {
    left: -30px;
}
.slick-prev:hover {
    transform: translate(-5px);
}
.slick-next {
    transform: rotate(180deg);
    right: -30px;
}
.slick-next:hover {
    transform: translateX(5px) rotate(180deg);
}

/* Dots to slick */

.slick-dots {
    position: absolute;
    left: calc(50% - 36px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    bottom: -25px;
    li {
        list-style: none;
        margin: 0 10px;
    }
    button {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-grey;
        border: none;
        opacity: .7;
        transition: all .2s;
    }
}
.slick-active {
    button {
        transform: scale(1.1);
        opacity: 1;
    }
}

/* Width items to slider */
@media screen and (max-width: 1300px) {
    .menu-category__item {
        width: 143px;
    }
}
@media screen and (max-width: 1060px) {
    .menu-category__item {
        width: 60px;
    }
}

/* Width dots to slider */
@media screen and (max-width: 360px) {
    .slick-dots {
        left: calc(50% - 48px);
    }
}