/*! Developer styles */

/* Colors */
$color-grey-light: #EDEDF0;
$color-dark: #19191D;
$color-accent: #2264D1;
$color-grey: #787885;
$color-text: #787885;

/* Fonts */
$font-inter:'Inter', sans-serif;

/* Calculate variables */
$calc-20: 20%;

/* Responsive font */
$max-width: 1920;
@mixin responsive-font($pc-size, $mob-size) {
    $add-size: $pc-size - $mob-size;
    $max-width: $max-width - 320;
    font-size: calc(#{$mob-size + px} + #{$add-size} * ((100vw - 320px) / #{$max-width}));
}
