section.content 
    .construction-bar
        .content-header
            .accordion-bar-wrap
                ul.accordion-bar
                    li.accordion-bar-item.tab
                            input#tab1(type="checkbox" name="teb-group")
                            label.tab-title(for="tab1") Useless first
                            section.tab-content 
                                p.tab-content__p Useless first
                                p.tab-content__p Useless first
                                p.tab-content__p Useless first
                    li.accordion-bar-item.tab
                            input#tab2(type="checkbox" name="teb-group")
                            label.tab-title(for="tab2") Condition
                            section.tab-content 
                                p.tab-content__p Condition
                                p.tab-content__p Condition
                                p.tab-content__p Condition
                    li.accordion-bar-item.tab
                            input#tab3(type="checkbox" name="teb-group")
                            label.tab-title(for="tab3") Delivery options
                            section.tab-content 
                                p.tab-content__p Delivery options
                                p.tab-content__p Delivery options
                                p.tab-content__p Delivery options
            .filter-view-wrap
                .filter-view-category
                    input.filter-view-category__btn(type="button", value="Show all") 
                    input.filter-view-category__btn(type="button", value="Auction") 
                    input.filter-view-category__btn(type="button", value="Buy now") 
                .filter-view-grid
                    input.filter-view-grid__btn(type="image", src="../images/construction-bar/SVG/view-list.svg", alt="view list")
                    input.filter-view-grid__btn(type="image", src="../images/construction-bar/SVG/view-grid.svg", alt="view grid")
        .tags-wrap
            ul.tags
                li.tags-item 
                    a.tags__link(href="#") Related
                li.tags-item 
                    a.tags__link(href="#") worldwide shipping
                li.tags-item 
                    a.tags__link(href="#") under $50
                li.tags-item 
                    a.tags__link(href="#") kitten
                li.tags-item 
                    a.tags__link(href="#") plastic plugs
                li.tags-item 
                    a.tags__link(href="#") pucker shoes
                li.tags-item 
                    a.tags__link(href="#") vintage typewriter
        .cards
            .card-01.card-margin
                include ../includes/card.pug
            .card-02.card-margin
                include ../includes/card.pug
            .card-03.card-margin
                include ../includes/card.pug
            .card-04.card-margin
                include ../includes/card.pug
            .card-05.card-margin
                include ../includes/card.pug
            .card-06.card-margin
                include ../includes/card.pug
            .card-07.card-margin
                include ../includes/card.pug
            .card-08.card-margin
                include ../includes/card.pug