section.content 
    .construction-bar
        .content-header
            .ac-ba
                select.ac-ba-item(name="asdf") 
                    option(value="1") Useless first
                    option(value="2") Useless second
                    option(value="3") Useless third
                select.ac-ba-item(name="asdf") 
                    option(value="1") Condition
                    option(value="2") Condition 2
                    option(value="3") Condition 3
                select.ac-ba-item(name="asdf") 
                    option(value="1") Delivery options
                    option(value="2") Delivery second
                    option(value="3") Delivery third

            .filter-view-wrap
                .filter-view-category
                    input.filter-view-category__btn(type="button", value="Show all") 
                    input.filter-view-category__btn(type="button", value="Auction" autofocus)
                    input.filter-view-category__btn(type="button", value="Buy now") 
                .filter-view-grid
                    input.filter-view-grid__btn(type="image", src="../images/construction-bar/SVG/view-list.svg", alt="view list")
                    input.filter-view-grid__btn(type="image", src="../images/construction-bar/SVG/view-grid.svg", alt="view grid" autofocus)
        .tags-wrap
            ul.tags
                li.tags-item 
                    a.tags__link(href="#") Related
                li.tags-item 
                    a.tags__link(href="#") worldwide shipping
                li.tags-item 
                    a.tags__link(href="#") under $50
                li.tags-item 
                    a.tags__link(href="#") kitten
                li.tags-item 
                    a.tags__link(href="#") plastic plugs
                li.tags-item 
                    a.tags__link(href="#") pucker shoes
                li.tags-item 
                    a.tags__link(href="#") vintage typewriter
        .cards
            .card-01.card-margin
                include ../cards/keyboard.pug
            .card-01.card-margin
                include ../cards/shoes.pug
            .card-01.card-margin
                include ../cards/cat.pug
            .card-01.card-margin
                include ../cards/brush.pug
            .card-01.card-margin
                include ../cards/bkettle.pug
            .card-01.card-margin
                include ../cards/oil.pug
            .card-01.card-margin
                include ../cards/plastic.pug
            .card-01.card-margin
                include ../cards/plant.pug
            .card-01.card-margin
                include ../cards/notepad.pug
            .card-01.card-margin
                include ../cards/pants.pug
            .card-01.card-margin
                include ../cards/notepadPen.pug
            .card-01.card-margin
                include ../cards/varnish.pug