footer.footer 
    .footer-item 
        .footer-item-imgage
            img.footer-item-imgage__img(src="../images/footer/SVG/lightbulb-on-outline.svg", alt="bulb")
        h4.footer-item__title Clear & Usable user flows
        p.footer-item__description Let’s boost yout marketplace
    .footer-item 
        .footer-item-imgage
            img.footer-item-imgage__img(src="../images/footer/SVG/palette.svg", alt="palette")
        h4.footer-item__title Fine & Styled components
        p.footer-item__description Speed up with Setproduct templates
    .footer-item 
        .footer-item-imgage
            img.footer-item-imgage__img(src="../images/footer/SVG/auto-fix.svg", alt="fix")
        h4.footer-item__title Customizable & Reusable
        p.footer-item__description Take our UX patterns and rebuild