header.header
        
    a.column-left__logo(href="#")
        img.column-left__icon(src="../images/header/SVG/logo-sh.svg" alt="logo and trigger")
        img.column-left__icon-min(src="../images/header/SVG/logo-s.svg" alt="logo and trigger")

    ul.menu-nav 
        li.menu-nav-li 
            form.menu-nav-search(action="#")
                .menu-nav-search-wrap
                    input.menu-nav-search__btn-loupe(type="image" src="./images/header/SVG/search.svg")
                    input.menu-nav-search__input(type="search" name="quick navigation" placeholder="Search in Shop54")
                    input.menu-nav-search__btn-delite(type="image" src="./images/header/SVG/close.svg")
        li.menu-nav-li.menu-nav-li-display
            .burger-btn
            a.menu-nav__link(href="#") Consumer Electronics

    ul.menu-login 
        li.menu-login-li 
            a.menu-login__link(href="#") Sign in
        li.menu-login-li
            a.menu-login__link.menu-login-link-shadow(href="#") Sign up
    