section.nav-bar 
    .accordion-bar-wrap
        ul.accordion-bar
 
            li.accordion-bar-item.tab
                input#mainTab(type="checkbox" name="teb-group")
                label#tab-title(for="mainTab") All Categories
                section.tab-content
        
                    li.accordion-bar-item.tab
                        input#subTab01(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab01") Electronics
                        section.tab-content
        
                            li.accordion-bar-item.tab
                                input#innerTabSps(type="checkbox" name="teb-group")
                                label#tab-title(for="innerTabSps") Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches

                    li.accordion-bar-item.tab
                        input#subTab02(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab02") Business & Industrial
                        ul.tab-content
                            //- ----------------------

                            li.accordion-bar-item.tab
                                input#innerTabBI(type="checkbox" name="teb-group")
                                label#tab-title(for="innerTabBI") Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches

                    li.accordion-bar-item.tab
                        input#subTab03(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab03") Computers
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabC(type="checkbox" name="teb-group")
                                label#tab-title(for="innerTabC") Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches


                    li.accordion-bar-item.tab
                        input#subTab04(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab04") Consumer Electroinics
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabCE(type="checkbox" name="teb-group")
                                label#tab-title(for="innerTabCE") Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches


                    li.accordion-bar-item.tab
                        input#subTab05(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab05") Home & Garden
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabHG(type="checkbox" name="teb-group")
                                label#tab-title(for="innerTabHG") Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches


                    li.accordion-bar-item.tab
                        input#subTab06(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab06") Collectibles
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabColl(type="checkbox" name="teb-group")
                                label#tab-title(for="innerTabColl") Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches
                                            li.accordion-bar-item.tab
            li.accordion-bar-item.tab
                input#mainTabFilters(type="checkbox" name="teb-group")
                label#tab-title(for="mainTabFilters") Collapsed filters
                section.tab-content

                    li.accordion-bar-item.tab
                        input#subTab07(type="checkbox" name="teb-group")
                        label#tab-title(for="subTab07") Electronics
                        section.tab-content
                            li.tab-content-item
            
            li.accordion-bar-item.tab
                input#innerTabEF(type="checkbox" name="teb-group")
                label#tab-title(for="innerTabEF") Expanded Filters
                ul.tab-content
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Cell Phone Accessories
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Cell Phone Gatgets
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Applications
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Smart Watches
                            li.accordion-bar-item.tab
                          

-
    /* 
        mainTab 
            subTab01 
                innerTabSps 
            subTab02
                innerTabBI 
            subTab03
                innerTabC 
            subTab04
                innerTabCE 
            subTab05
                innerTabHG
            subTab05
                innerTabColl
        mainTabFilters
            subTab07    
    */
- //- ----------------------