section.nav-bar 
    .accordion-bar-wrap
        .nav-bar-btn
            button.nav-bar-btn__button 
                img.nav-bar-btn__img(src="../images/nav-bar/SVG/t-burger.svg", alt="burger")
                span.nav-bar-btn__span Departments
        ul.accordion-bar
 
            li.accordion-bar-item.tab
                input#mainTab(type="checkbox" name="teb-group" checked)
                label.tab-title(for="mainTab") 
                    span.accordion-bar-item__span All Categories
                section.tab-content
        
                    li.accordion-bar-item.tab
                        input#subTab01(type="checkbox" name="teb-group" checked)
                        label.tab-title(for="subTab01") 
                            span.accordion-bar-item__span Electronics
                        section.tab-content
        
                            li.accordion-bar-item.tab
                                input#innerTabSps(type="checkbox" name="teb-group" checked)
                                label.tab-title(for="innerTabSps") 
                                    span.accordion-bar-item__span Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches

                    li.accordion-bar-item.tab
                        input#subTab02(type="checkbox" name="teb-group")
                        label.tab-title(for="subTab02") 
                            span.accordion-bar-item__span Business & Industrial
                        ul.tab-content
                            //- ----------------------

                            li.accordion-bar-item.tab
                                input#innerTabBI(type="checkbox" name="teb-group")
                                label.tab-title(for="innerTabBI") 
                                    span.accordion-bar-item__span Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches

                    li.accordion-bar-item.tab
                        input#subTab03(type="checkbox" name="teb-group")
                        label.tab-title(for="subTab03") 
                            span.accordion-bar-item__span Computers
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabC(type="checkbox" name="teb-group")
                                label.tab-title(for="innerTabC") 
                                    span.accordion-bar-item__span Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches


                    li.accordion-bar-item.tab
                        input#subTab04(type="checkbox" name="teb-group")
                        label.tab-title(for="subTab04") 
                            span.accordion-bar-item__span Consumer Electroinics
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabCE(type="checkbox" name="teb-group")
                                label.tab-title(for="innerTabCE") 
                                    span.accordion-bar-item__span Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches


                    li.accordion-bar-item.tab
                        input#subTab05(type="checkbox" name="teb-group")
                        label.tab-title(for="subTab05") 
                            span.accordion-bar-item__span Home & Garden
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabHG(type="checkbox" name="teb-group")
                                label.tab-title(for="innerTabHG") 
                                    span.accordion-bar-item__span Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches


                    li.accordion-bar-item.tab
                        input#subTab06(type="checkbox" name="teb-group")
                        label.tab-title(for="subTab06") 
                           span.accordion-bar-item__span Collectibles
                        ul.tab-content
                            //- ----------------------
        
                            li.accordion-bar-item.tab
                                input#innerTabColl(type="checkbox" name="teb-group")
                                label.tab-title(for="innerTabColl") 
                                    span.accordion-bar-item__span Cell Phones & Smartphones
                                ul.tab-content
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Accessories
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Cell Phone Gatgets
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Applications
                                    li.tab-content-item
                                        a.tab-content__link(href="#")
                                            span.tab-content__text Smart Watches
                                            li.accordion-bar-item.tab
            li.accordion-bar-item.tab
                input#mainTabFilters(type="checkbox" name="teb-group")
                label.tab-title(for="mainTabFilters") 
                    span.accordion-bar-item__span Collapsed filters
                section.tab-content

                    li.accordion-bar-item.tab
                        input#subTab07(type="checkbox" name="teb-group")
                        label.tab-title(for="subTab07") 
                            span.accordion-bar-item__span Electronics
                        section.tab-content
                            li.tab-content-item
            
            li.accordion-bar-item.tab
                input#innerTabEF(type="checkbox" name="teb-group")
                label.tab-title(for="innerTabEF") 
                    span.accordion-bar-item__span Expanded Filters
                ul.tab-content
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Cell Phone Accessories
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Cell Phone Gatgets
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Applications
                    li.tab-content-item
                        a.tab-content__link(href="#")
                            span.tab-content__text Smart Watches
                            li.accordion-bar-item.tab
                          

-
    /* 
        mainTab 
            subTab01 
                innerTabSps 
            subTab02
                innerTabBI 
            subTab03
                innerTabC 
            subTab04
                innerTabCE 
            subTab05
                innerTabHG
            subTab05
                innerTabColl
        mainTabFilters
            subTab07    
    */
- //- ----------------------