nav.menu-category
    .container 
        ul.menu-category-ul
            li.menu-category-li
                a.menu-category__item.menu-category__item-focus(href="#")
                    img.menu-category__img(src="./images/SVG/hanger.svg", alt="Clothing & Shoes")
                    span.menu-category__description Clothing & Shoes
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/babysitter.svg", alt="Mother Care")
                    span.menu-category__description Mother Care
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/cinema.svg", alt="Entertainment")
                    span.menu-category__description Entertainment
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/concert.svg", alt="Music")
                    span.menu-category__description Music
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/fitness.svg", alt="Sport & Lifestyle")
                    span.menu-category__description Sport & Lifestyle
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/nuclear-station.svg", alt="Toys & Entertainment")
                    span.menu-category__description Toys & Entertainment
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/observation.svg", alt="Travel Equipment")
                    span.menu-category__description Travel Equipment
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/pets.svg", alt="Pets")
                    span.menu-category__description Pets
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/powerstation.svg", alt="Celectrical Tools")
                    span.menu-category__description Celectrical Tools
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/ship-wheel.svg", alt="Clothing & Shoes")
                    span.menu-category__description Vintage
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/barley.svg", alt="Clothing & Shoes")
                    span.menu-category__description Growing & Garden
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/restaraunt.svg", alt="Clothing & Shoes")
                    span.menu-category__description Kitchen Accessories