nav.menu-category
    .container 
        ul.menu-category-ul
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/01-hanger.svg", alt="Clothing & Shoes")
                    span.menu-category__description Clothing & Shoes
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/02-cinema.svg", alt="Mother Care")
                    span.menu-category__description Entertainment
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/03-concert.svg", alt="Entertainment")
                    span.menu-category__description Music
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/04-fitness.svg", alt="Music")
                    span.menu-category__description Sport & Lifestyle
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/05-pets.svg", alt="Sport & Lifestyle")
                    span.menu-category__description Pets
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/06-restoraunt.svg", alt="Toys & Entertainment")
                    span.menu-category__description Kitchen Accessories
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/07-observation.svg", alt="Travel Equipment")
                    span.menu-category__description Travel Equipment
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/08-barley.svg", alt="Pets")
                    span.menu-category__description Growing & Garden
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/09-powerstation.svg", alt="Celectrical Tools")
                    span.menu-category__description Electrical Tools
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/10-babysitter.svg", alt="Clothing & Shoes")
                    span.menu-category__description Mother Care
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/11-nuclear-station.svg", alt="Clothing & Shoes")
                    span.menu-category__description Toys & Entertainment
            li.menu-category-li
                a.menu-category__item(href="#")
                    img.menu-category__img(src="./images/SVG/12-ship-wheel.svg", alt="Clothing & Shoes")
                    span.menu-category__description Vintage